[v-cloak] {
  display: none;
}

body {
	padding-bottom: 15px;
	padding-top: 15px;
}

.site-title {
	padding: 15px 0;
}

.form-check {
	margin-bottom: 0;
}

.form-check-label {
	font-size: 18px;
}

.badge {
	float: right;
}

.student-list {
    padding-top: 25px;
}

.student-name {
    padding-top: 10px;
}

.kwanjangnim > .row,
.student > .row {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.kwanjangnim,
.student {
    padding-bottom: 15px;
}

.startingDate {
    margin-bottom: 15px;
}

.table td,
.table th {
    text-align: center;
}

.studentListMode {
    margin-top: 15px;
}
